.NavButtonsContainer{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
}

.NavButtons {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: bold;
}

.NavButtons:hover{
    background-color:rgba(195,145,137,0.5);
}

.NavButtons:active{
    background-color:rgba(195,145,137,0.7);
}

