* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("background.svg");
    background-attachment:  fixed;
    font-family: Oxygen, sans-serif;
}

.Container {
    padding-top: 100px;
}
