.SurveyCardContainer{
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}